/* FORMS */

textarea, input[type=text], button { font: inherit; outline: none; }

textarea, input[type=text] {
  width: calc(100% + 3.5em);
  margin: 0 -1.75em;
  padding: 1em 1.75em;
  border: 1px solid #DDD;
}

button {
  padding: 0.5em 1.75em;
  background: #c3c;
  color: white;
  border: none;
  border-radius: 4px;
}
button:hover { background: #d4d; }
button:active { background: #c3c; }

.form_row { margin: 1em 0; }


/* EDIT POST */
body.dragover { background-color: #F0FCF0; }
.edit-post { max-width: 550px; }
.edit-post textarea { height: 350px; resize: vertical; }

.edit-post_picture { min-height: 60px; margin: 0 -1.75em; padding: 0 1.75em; }
.edit-post_picture-empty { background-image: url("/static/upload.svg"); background-color: #999; background-repeat: no-repeat; background-position: center center; opacity: 0.2; }
body.dragover .edit-post_picture { opacity: 0.5; }
.edit-post_picture_img { display: block; margin: 0; }
.edit-post_file { display: none; }

input[type=text].edit-post_author { display: inline-block; width: calc(100% - 100px); margin: 0; padding: 0; border: none; background: transparent; }

/* EMAIL SENT */

.email-sent { padding: 1em 3em; margin: 0 -3em; background: #EEE; }
.email-sent_message { font-size: 200%; line-height: 1.4em; }
