/* FORMS */

textarea, input[type=text], button { font: inherit; outline: none; }

.input { height: 32px; }
.input { position: relative; border: 0px solid #d5d1c9; }
.input:before { border-top: 1px solid #808080; border-right: 1px solid #D5D1C9; border-bottom: 1px solid #E5E1D9; border-left: 1px solid #808080; content: ''; position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 0; }
.input:after { border-top: 1px solid #3d3d3d; border-right: 1px solid #D5D1C9; border-bottom: 1px solid #E5E1D9; border-left: 1px solid #3d3d3d; content: ''; position: absolute; top: 1px; right: 1px; bottom: 1px; left: 1px; z-index: 1; background: #FFF; }
.input > textarea,
.input > input[type=text] { min-width: 100px; padding: 6px 6px 4px; background: transparent; border: none; height: 100%; width: 100%; margin: 0; position: absolute; z-index: 2; }

textarea[disabled], input[type=text][disabled] { background-color: #EEE; color: #CCC; }

button { border: none; padding: 0; }

.btn { padding: 6px 30px 5px; background: #D5D1C9; color: black; border: none; position: relative; border: 1px solid #000; }
.btn:before { border-top: 1px solid #FFF; border-left: 1px solid #FFF; border-right: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; content: ''; position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
.btn:after { border-top: 1px solid #D5D1C9; border-left: 1px solid #D5D1C9; border-right: 1px solid #808080; border-bottom: 1px solid #808080; content: ''; position: absolute; top: 1px; right: 1px; bottom: 1px; left: 1px; }
.btn:active { padding: 7px 29px 4px 31px; }
.btn:active:before, .btn:active:after { border: none; }

button.inline { background: none; color: #00F; border-bottom: 1px dotted #00F; cursor: pointer; }
button.inline:active { position: relative; top: 1px; }

/* EDIT POST */

.upload { height: 75px; background: #f5f5f0; color: #AAA; border-radius: 6px; display: flex; justify-content: center; align-items: center; position: relative; }
.upload:hover > .corner { border-color: #3d3d3d; }
.upload > .corner { position: absolute; width: 12px; height: 12px; }
.upload > .top-left { top: 0; left: 0; border-left: 2px solid #808070; border-top: 2px solid #808070; border-top-left-radius: 0px; }
.upload > .top-right { top: 0; right: 0; border-right: 2px solid #808070; border-top: 2px solid #808070; border-top-right-radius: 0px; }
.upload > .bottom-left { bottom: 0; left: 0; border-left: 2px solid #808070; border-bottom: 2px solid #808070; border-bottom-left-radius: 0px; }
.upload > .bottom-right { bottom: 0; right: 0; border-right: 2px solid #808070; border-bottom: 2px solid #808070; border-bottom-right-radius: 0px; }
.upload.dragging { border: 2px dashed #808070; }
.upload.dragover { background-color: #CFC; color: #3C3; font-weight: bold; border: 2px dashed #3C3; }
.upload.dragover > .corner { border-color: #3C3; border-width: 3px; }

.media { position: relative; }
.media-wrap { width: max-content; position: relative; }
.media-wrap > img { display: block; max-width: 550px; max-height: 500px; }
.media-delete { width: 32px; height: 32px; background-image: url(/static/editor/delete.svg); position: absolute; right: -46px; top: 0; }
.media-delete:hover { background-position: -100% 0; }

.upload-overlay { position: absolute; right: 0; left: 0; bottom: 0; background: #FFFFFFDD; }
.upload-overlay-failed { position: absolute; top: 0; right: 0; left: 0; bottom: 0; background: #CC3333DD; }
  
.status { position: absolute; left: 0px; bottom: 0px; background: #FFF; padding: 4px 10px; }

.textarea { position: relative; }
.textarea > .input { height: 300px; }
.textarea > .input > textarea { resize: none; }
.textarea > .input > textarea::placeholder { color: #AAA; opacity: 1; }
.textarea > .handle { position: absolute; left: calc(50% - 5px); }
.textarea > .handle > .rope { width: 2px; height: 35px; background: #808070; margin: 0; }
.textarea > .handle > .ring { width: 10px; height: 10px; border-radius: 50%; border: 2px solid #808070; cursor: pointer; }

.post-post { padding: 0; height: 74px; border: none; font-weight: bold; background-color: #C64A42; color: white; position: relative; box-shadow: 0 4px 0 #961A12; }
.post-post:active { box-shadow: 0 0 0 #961A12; transform: translateY(4px); }
.post-post > .hand { position: absolute; left: 0; bottom: 22px; }
.post-post:hover > .hand { transform: translateY(-12px); }
.post-post:active > .hand { transform: translateY(15px); }
.post-post > .button { position: absolute; left: 28px; bottom: 0; }
.post-post > .label { margin: 0 24px 0 103px; font-size: 36px; line-height: 36px; align-self: center; letter-spacing: 1px; }
