* { box-sizing: border-box; }

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 1em;
  line-height: 140%;
  padding: 0.25em 1em;
  max-width: 640px;
  margin: 0 auto;
}


/* HEADER */

header { margin-bottom: 2em; }

.title { margin-bottom: 0; }
.title_back { margin-left: -1.2em; margin-right: 0.2em; text-decoration: none; }
.title_back:hover { text-decoration: underline; }

.title_new { padding: 10px; margin: -10px 0 0 0; float: right; text-decoration: none; color: #c3c; }
.title_new:hover { color: #d4d; }
body.anonymous .title_new { display: none; }

.subtitle { margin-left: 0.09em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
.subtitle > span { cursor: pointer; }


/* POST */

.post { display: flex; justify-content: flex-start; margin-bottom: 4em; }
.post_side { margin-right: 20px; min-width: 50px; }
.post_avatar { border-radius: 100%; width: 50px; height: 50px; }

.post_img { max-width: 100%; height: auto; }
.post_author { font-weight: bold; }
.post_meta { font-size: 0.75rem; }

.post_meta_edit > a { color: #c3c; }
.post_meta_edit > a:hover { color: #d4d; }
body.anonymous .post_meta_edit { display: none; }


/* FOOTER */

footer {
  padding: 1em 0 3em;
  margin-top: 3em;
  border-top: 1px solid #DDD;
  font-size: 0.75rem;
}
footer, footer > a { color: #CCC; }
footer > a:hover { color: #00E; }


/* FORMS */

textarea, input[type=text], button { font: inherit; outline: none; }

textarea, input[type=text] {
  width: calc(100% + 3.5em);
  margin: 0 -1.75em;
  padding: 1em 1.75em;
  border: 1px solid #DDD;
}

button {
  padding: 0.5em 1.75em;
  background: #c3c;
  color: white;
  border: none;
  border-radius: 4px;
}
button:hover { background: #d4d; }
button:active { background: #c3c; }

.form_row { margin: 1em 0; }


/* EDIT POST */

.edit-post textarea { height: 450px; }

.edit-post_picture { background: #EEE; margin: 0 -1.75em;  }
.edit-post_picture > input { width: 100%; padding: 2em 1.75em; }


/* EMAIL SENT */

.email-sent { padding: 1em 3em; margin: 0 -3em; background: #EEE; }
.email-sent_message { font-size: 200%; line-height: 1.4em; }

