* { box-sizing: border-box; }

body {
  font-family: sans-serif;
  line-height: 140%;
  padding: 0.25em 1em;
  max-width: 652px; /* .post_img =>> 550px */
  margin: 0 auto;
}


/* HEADER */

header { margin-bottom: 2em; }

.title { margin-bottom: 0; }
.title_back { position: absolute; margin-left: -1em; text-decoration: none; }
.title_back:hover { text-decoration: underline; }

.title_new { padding: 10px; margin: -10px 0 0 0; float: right; text-decoration: none; color: #c3c; }
.title_new:hover { color: #d4d; }
body.anonymous .title_new { display: none; }

.subtitle { margin-left: 0.09em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
.subtitle > span { cursor: pointer; }


/* POST */

.post { display: flex; justify-content: flex-start; margin-bottom: 2em; }
.post_side { margin-right: 20px; min-width: 50px; }
.post_avatar { border-radius: 100%; width: 50px; height: 50px; }

.post_img { max-width: 100%; height: auto; max-height: 500px; margin-bottom: 1em; }
.post_author { font-weight: bold; }
.post_p { margin: 0 0 1em 0; }

.post_meta_edit > a { color: #c3c; }
.post_meta_edit > a:hover { color: #d4d; }
body.anonymous .post_meta_edit { display: none; }


/* FOOTER */

footer {
  padding: 1em 0 1em;
  margin-top: 2em;
  border-top: 1px solid #000;
}
