/target*
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
grumpy_data
figwheel_server.log
backup.sh
*.sublime-workspace
*.sublime-project
/.cpcache*
.DS_Store
cleanup.clj