{:deps
 {org.clojure/clojure           {:mvn/version "1.10.1"}
  com.stuartsierra/component    {:mvn/version "0.4.0"}
  ring/ring-core                {:mvn/version "1.8.0"}
  org.immutant/web              {:mvn/version "2.1.10"}
  io.pedestal/pedestal.service  {:mvn/version "0.5.7"}
  io.pedestal/pedestal.route    {:mvn/version "0.5.7"}
  io.pedestal/pedestal.immutant {:mvn/version "0.5.7" :exclusions [javax.servlet/javax.servlet-api]}
  rum                           {:mvn/version "0.11.4"}
  com.cognitect/transit-clj     {:mvn/version "0.8.319"}
  clj-http                      {:mvn/version "3.10.0"}
  cheshire                      {:mvn/version "5.10.0"} ; for clj-http :as :json
  cljs-drag-n-drop              {:mvn/version "0.1.0"}
  com.cognitect/transit-cljs    {:mvn/version "0.8.256"}
  juxt/crux-core                {:mvn/version "20.01-1.6.2-alpha"}
  juxt/crux-rocksdb             {:mvn/version "20.01-1.6.2-alpha"}
  compact-uuids                 {:mvn/version "0.2.0"}}
 :paths ["src" "resources"]
 :aliases
 {:dev     {:jvm-opts    ["-ea"]
            :extra-paths ["dev" "target/resources"]
            :extra-deps  {org.clojure/tools.namespace {:mvn/version "0.3.1"}
                          com.bhauman/figwheel-main   {:mvn/version "0.2.3"}
                          org.clojure/clojurescript   {:mvn/version "1.10.597"}}}
  :java    {:jvm-opts ["--add-opens" "java.base/sun.nio.ch=ALL-UNNAMED"]}
  :uberjar {:extra-paths ["target/uberjar"]}
  :package {:extra-paths ["package"]
            :extra-deps  {org.clojure/clojurescript {:mvn/version "1.10.597"}
                          uberdeps {:mvn/version "0.1.5"}}}}}