{:deps
 {cheshire/cheshire                       {:mvn/version "6.1.0"}
  clj-http/clj-http                       {:mvn/version "3.13.1"}
  com.cognitect/transit-clj               {:mvn/version "1.0.333"}
  datascript/datascript                   {:mvn/version "1.7.8"}
  http-kit/http-kit                       {:mvn/version "2.8.0"}
  io.github.tonsky/clj-simple-router      {:mvn/version "0.1.2"}
  io.github.tonsky/clojure-plus           {:mvn/version "1.7.2"}
  io.github.tonsky/datascript-storage-sql {:mvn/version "2.1.0"}
  mount/mount                             {:mvn/version "0.1.23"}
  org.apache.lucene/lucene-core           {:mvn/version "10.3.2"}
  org.apache.lucene/lucene-queryparser    {:mvn/version "10.3.2"}
  org.apache.lucene/lucene-highlighter    {:mvn/version "10.3.2"}
  org.clojure/clojure                     {:mvn/version "1.12.3"}
  org.xerial/sqlite-jdbc                  {:mvn/version "3.50.3.0"}
  ring/ring-core                          {:mvn/version "1.15.3"}
  rum/rum                                 {:mvn/version "0.11.4"}
  io.github.tonsky/clj-simple-stats       {:mvn/version "1.2.0"}}
 :paths ["src" "resources"]
 :aliases
 {:dev     {:extra-paths ["dev"]
            :extra-deps  {io.github.tonsky/clj-reload {:mvn/version "1.0.0"}}
            :jvm-opts    ["-ea"
                          "-Djdk.attach.allowAttachSelf"
                          "-XX:+UnlockDiagnosticVMOptions"
                          "-XX:+DebugNonSafepoints"
                          "-XX:+EnableDynamicAgentLoading"]}
  :uberjar {:extra-paths ["target/uberjar"]}
  :package {:extra-paths ["package"]
            :extra-deps  {uberdeps/uberdeps {:mvn/version "1.4.0"}}}}}