* { box-sizing: border-box; }

#site_subtitle {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 1em;
  line-height: 140%;
  padding: 0.25em 1em;
  max-width: 640px;
  margin: 0 auto;
}

img {
  max-width:100%;
  height:auto;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 2em;
}

header {
  margin-bottom: 2em;
}

header h1 {
  margin-bottom: 0;
}

#site_subtitle {
  /* Without this there's a tiny visual mismatch that bothers me */
  margin-left: 0.09em; 

  cursor: pointer;
}

.post {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 4em;
}

.post_sidebar {
  text-align: center;
  margin-right: 20px;
  min-width: 50px;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

.post_sidebar a:visited {
  color: blue;
}

img.avatar {
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.meta {
  font-size: 0.75rem;
}

.author { 
  font-weight: bold;
}

footer {
  padding-top: 1em;
  margin-top: 1em;
  border-top: 1px dotted black;
}

.edit_post_body > textarea {
  font: inherit;
  width: 100%;
  height: 450px;
  outline: none;
  padding: 1em 1.75em;
  margin: 0 -1.75em 0;
  border: 1px solid #EEE;
}

.edit_post_body, .edit_post_submit, .edit_post_picture { 
  margin: 1em 0;
}

.edit_post_submit { padding-bottom: 2em; }

.edit_post_submit > button {
  padding: 0.5em 1.75em;
  font: inherit;
  background: #c3c;
  color: white;
  border: none;
  border-radius: 4px;
  outline: none;
}

.edit_post_submit > button:hover { background: #d4d; }
.edit_post_submit > button:active { background: #c3c; }